In [247]:
import pandas as pd 
import matplotlib.pyplot as plt  
import re
import numpy as np

In [248]:
df = pd.read_csv("FOW | Driving Game_October 12, 2023_23.28.csv")
df

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,name,GameResult
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,Location Latitude,Location Longitude,Distribution Channel,User Language,What is your name?,GameResult
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}","{""ImportId"":""recipientFirstName""}","{""ImportId"":""recipientEmail""}","{""ImportId"":""externalDataReference""}","{""ImportId"":""locationLatitude""}","{""ImportId"":""locationLongitude""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}","{""ImportId"":""QID10_TEXT""}","{""ImportId"":""GameResult""}"
2,2023-10-11 21:56:35,2023-10-11 22:16:58,IP Address,23.93.74.17,100,1222,TRUE,2023-10-11 22:16:58,R_2D1DPtMJsg9evTb,NaN,NaN,NaN,NaN,37.8637,-122.276,anonymous,EN,brandon,"[{""time"":0,""event"":""brandon started a game wit..."
3,2023-10-11 21:56:34,2023-10-11 22:20:21,IP Address,136.25.185.25,100,1426,TRUE,2023-10-11 22:20:21,R_3psexOupWD1tftg,NaN,NaN,NaN,NaN,37.8657,-122.2571,anonymous,EN,Kristin,"[{""time"":0,""event"":""Kristin started a game wit..."
4,2023-10-11 21:56:12,2023-10-11 22:20:42,IP Address,136.152.214.245,100,1470,TRUE,2023-10-11 22:20:43,R_1oG43SeoSn2wou5,NaN,NaN,NaN,NaN,37.8611,-122.2564,anonymous,EN,Lawrence,"[{""time"":0,""event"":""Lawrence started a game wi..."
5,2023-10-11 21:16:31,2023-10-11 23:13:23,IP Address,23.93.98.48,100,7012,TRUE,2023-10-11 23:13:24,R_C21FRNZZacAFr2x,NaN,NaN,NaN,NaN,37.8767,-122.2676,anonymous,EN,test,"[{""time"":0,""event"":""test2 started a game with ..."
6,2023-10-12 00:25:58,2023-10-12 00:47:47,IP Address,12.164.156.194,100,1308,TRUE,2023-10-12 00:47:48,R_3F3VvpyaAWKEYRG,NaN,NaN,NaN,NaN,37.8657,-122.2571,anonymous,EN,Boris,"[{""time"":0,""event"":""Boris started a game with ..."
7,2023-10-12 00:29:19,2023-10-12 00:56:48,IP Address,136.152.214.226,100,1648,TRUE,2023-10-12 00:56:49,R_OqZLZNsvGLDb0Cl,NaN,NaN,NaN,NaN,37.8611,-122.2564,anonymous,EN,Edward Lee,"[{""time"":0,""event"":""Edward started a game with..."
8,2023-10-12 00:55:43,2023-10-12 01:17:48,IP Address,136.152.214.230,100,1324,TRUE,2023-10-12 01:17:49,R_33w2qoBRh5s6PRv,NaN,NaN,NaN,NaN,37.8611,-122.2564,anonymous,EN,Gavin Zhang,"[{""time"":0,""event"":""Gavin Zhang started a game..."
9,2023-10-12 08:43:37,2023-10-12 09:05:16,IP Address,135.180.197.71,100,1298,TRUE,2023-10-12 09:05:17,R_2y91CjcFTc5sBL9,NaN,NaN,NaN,NaN,37.8381,-122.2609,anonymous,EN,Austin,"[{""time"":0,""event"":""Austin started a game with..."
10,2023-10-12 13:55:03,2023-10-12 14:24:54,IP Address,136.24.200.250,100,1790,TRUE,2023-10-12 14:24:55,R_2QE6ShghF84Saft,NaN,NaN,NaN,NaN,37.8657,-122.2571,anonymous,EN,Yuanrui Zhu,"[{""time"":0,""event"":""Yuanrui Zhu started a game..."
11,2023-10-12 14:25:37,2023-10-12 14:46:27,IP Address,23.93.98.48,100,1249,TRUE,2023-10-12 14:46:28,R_1o7o1H5pYXpMWr9,NaN,NaN,NaN,NaN,37.8767,-122.2676,anonymous,EN,yutong,"[{""time"":0,""event"":""yutong started a game with..."
12,2023-10-11 22:31:19,2023-10-12 14:56:58,IP Address,67.160.221.243,100,59139,TRUE,2023-10-12 14:56:59,R_7TJY5vIsSwJJl9n,NaN,NaN,NaN,NaN,37.9648,-121.77,anonymous,EN,Marcus,"[{""time"":0,""event"":""marcus started a game with..."
13,2023-10-12 13:33:18,2023-10-12 15:16:21,IP Address,136.24.200.103,100,6182,TRUE,2023-10-12 15:16:22,R_1hXXW0DSiiPnD3x,NaN,NaN,NaN,NaN,37.8657,-122.2571,anonymous,EN,Chelsea Choo,"[{""time"":0,""event"":""Chelsea Choo started a gam..."
14,2023-10-12 15:22:27,2023-10-12 15:43:54,IP Address,73.15.6.126,100,1286,TRUE,2023-10-12 15:43:55,R_1CpywVaZYgcGgbb,NaN,NaN,NaN,NaN,37.8668,-122.2924,anonymous,EN,ron,"[{""time"":0,""event"":""ron started a game with 12..."
15,2023-10-12 16:57:09,2023-10-12 17:35:11,IP Address,23.93.98.48,100,2281,TRUE,2023-10-12 17:35:12,R_2bTpXZFd6rJlfk0,NaN,NaN,NaN,NaN,37.8767,-122.2676,anonymous,EN,test2,"[{""time"":0,""event"":""test2 started a game with ..."
16,2023-10-12 18:21:06,2023-10-12 18:42:23,IP Address,23.93.98.48,100,1277,TRUE,2023-10-12 18:42:24,R_3HoafnveiONMSZZ,NaN,NaN,NaN,NaN,37.8767,-122.2676,anonymous,EN,test3,"[{""time"":0,""event"":""test3 started a game with ..."
17,2023-10-12 19:19:19,2023-10-12 19:41:49,IP Address,136.25.185.25,100,1350,TRUE,2023-10-12 19:41:50,R_25Y4DY9QUP710k5,NaN,NaN,NaN,NaN,37.8657,-122.2571,anonymous,EN,Kristin,"[{""time"":0,""event"":""Kristin Chen started a gam..."
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marcus2,"[{""time"":0,""event"":""marcus started a game with..."
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chloe,"[{""time"":0,""event"":""Chloe started a game with ..."

In [249]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StartDate              18 non-null     object
 1   EndDate                18 non-null     object
 2   Status                 18 non-null     object
 3   IPAddress              18 non-null     object
 4   Progress               18 non-null     object
 5   Duration (in seconds)  18 non-null     object
 6   Finished               18 non-null     object
 7   RecordedDate           18 non-null     object
 8   ResponseId             18 non-null     object
 9   RecipientLastName      2 non-null      object
 10  RecipientFirstName     2 non-null      object
 11  RecipientEmail         2 non-null      object
 12  ExternalReference      2 non-null      object
 13  LocationLatitude       18 non-null     object
 14  LocationLongitude      18 non-null     object
 15  DistributionChannel    18 non-null     object
 16  UserLanguage           18 non-null     object
 17  name                   20 non-null     object
 18  GameResult             20 non-null     object
dtypes: object(19)
memory usage: 3.1+ KB

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,name,GameResult
count,18,18,18,18,18,18,18,18,18,2,2,2,2,18,18,18,18,20,20
unique,18,18,3,14,3,18,3,18,18,2,2,2,2,9,9,3,3,19,20
top,Start Date,End Date,IP Address,23.93.98.48,100,Duration (in seconds),TRUE,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,37.8657,-122.2571,anonymous,EN,Kristin,GameResult
freq,1,1,16,4,16,1,16,1,1,1,1,1,1,5,5,16,16,2,1

In [250]:
df = df[['name', 'Duration (in seconds)', 'GameResult']].drop([0,1])
# fix typo
df['GameResult'] = df['GameResult'].str.replace(r'avaliable', 'available')
df

,name,Duration (in seconds),GameResult
2,brandon,1222,"[{""time"":0,""event"":""brandon started a game wit..."
3,Kristin,1426,"[{""time"":0,""event"":""Kristin started a game wit..."
4,Lawrence,1470,"[{""time"":0,""event"":""Lawrence started a game wi..."
5,test,7012,"[{""time"":0,""event"":""test2 started a game with ..."
6,Boris,1308,"[{""time"":0,""event"":""Boris started a game with ..."
7,Edward Lee,1648,"[{""time"":0,""event"":""Edward started a game with..."
8,Gavin Zhang,1324,"[{""time"":0,""event"":""Gavin Zhang started a game..."
9,Austin,1298,"[{""time"":0,""event"":""Austin started a game with..."
10,Yuanrui Zhu,1790,"[{""time"":0,""event"":""Yuanrui Zhu started a game..."
11,yutong,1249,"[{""time"":0,""event"":""yutong started a game with..."
12,Marcus,59139,"[{""time"":0,""event"":""marcus started a game with..."
13,Chelsea Choo,6182,"[{""time"":0,""event"":""Chelsea Choo started a gam..."
14,ron,1286,"[{""time"":0,""event"":""ron started a game with 12..."
15,test2,2281,"[{""time"":0,""event"":""test2 started a game with ..."
16,test3,1277,"[{""time"":0,""event"":""test3 started a game with ..."
17,Kristin,1350,"[{""time"":0,""event"":""Kristin Chen started a gam..."
18,Marcus2,NaN,"[{""time"":0,""event"":""marcus started a game with..."
19,Chloe,NaN,"[{""time"":0,""event"":""Chloe started a game with ..."

In [251]:
complete = df[df['GameResult'].str.contains("Finished Game")].drop([5,16])
complete

,name,Duration (in seconds),GameResult
2,brandon,1222,"[{""time"":0,""event"":""brandon started a game wit..."
6,Boris,1308,"[{""time"":0,""event"":""Boris started a game with ..."
13,Chelsea Choo,6182,"[{""time"":0,""event"":""Chelsea Choo started a gam..."
17,Kristin,1350,"[{""time"":0,""event"":""Kristin Chen started a gam..."
19,Chloe,NaN,"[{""time"":0,""event"":""Chloe started a game with ..."

In [252]:
# create df for every result
def makedf(line):
    data = line[2]
    timestamp_pattern = r'{"time":(.*?),"event":"(.*?)"'
    matches = re.findall(timestamp_event_pattern, data)
    data_list = [{"time": float(match[0]), "event": match[1]} for match in matches]
    df = pd.DataFrame(data_list)
    return df

In [253]:
# test
makedf(complete.iloc[0])

         time                                              event
0       0.000         brandon started a game with 1200 timeLimit
1       0.000            Entered home screen, displayed jobs: [\
2       0.999             i:(1,1777) Job Uber - SF now available
3      14.002       i:(3,2333) Job Uber - Berkeley now available
4      20.256  Task Uber - Berkeley was started with: 14 step...
..        ...                                                ...
129   412.175             i:(1,2785) Job Uber - SF now available
130   415.171   i:(2,4837) Job UberEats - Berkeley now available
131   421.178       i:(3,4295) Job Uber - Berkeley now available
132   429.175         i:(0,1414) Job UberEats - SF now available
133  1200.506                                      Finished Game

[134 rows x 2 columns]

In [254]:
# frequency of choosing first available job
jobpick_pattern = r'"event":"i:\(\d+,\d+\)\sJob\s(.*?)\snow\savailable".*?"event":"Task\s*(.*?)\s*was started'
matches = re.findall(jobpick_pattern, complete.iloc[1][2])
matches

[('Uber - SF', 'Uber - SF'),
 ('Uber - SF', 'Uber - SF'),
 ('Uber - SF', 'Uber - SF'),
 ('UberEats - Berkeley', 'UberEats - Berkeley'),
 ('UberEats - SF', 'UberEats - SF'),
 ('Uber - Berkeley', 'Uber - Berkeley'),
 ('Uber - SF', 'Uber - SF'),
 ('UberEats - Berkeley', 'UberEats - Berkeley'),
 ('Uber - Berkeley', 'UberEats - SF'),
 ('UberEats - SF', 'UberEats - SF'),
 ('Uber - SF', 'Uber - SF'),
 ('Uber - Berkeley', 'UberEats - Berkeley'),
 ('Uber - Berkeley', 'Uber - Berkeley'),
 ('Uber - Berkeley', 'Uber - Berkeley'),
 ('UberEats - SF', 'UberEats - Berkeley'),
 ('Uber - SF', 'Uber - SF'),
 ('Uber - Berkeley', 'UberEats - SF'),
 ('Uber - Berkeley', 'UberEats - SF'),
 ('UberEats - SF', 'UberEats - SF'),
 ('Uber - SF', 'Uber - SF'),
 ('Uber - Berkeley', 'Uber - SF'),
 ('UberEats - SF', 'UberEats - SF'),
 ('Uber - Berkeley', 'Uber - Berkeley'),
 ('Uber - Berkeley', 'Uber - Berkeley'),
 ('Uber - Berkeley', 'Uber - SF'),
 ('Uber - SF', 'Uber - SF')]

In [260]:
def pick_first_job(row):
    jobpick_pattern = r'"event":"i:\(\d+,\d+\)\sJob\s(.*?)\snow\savailable".*?"event":"Task\s*(.*?)\s*was started'
    matches = re.findall(jobpick_pattern, row)
    count = 0
    total = len(matches)
    for (a, b) in matches:
        if a == b:
            count += 1
    return count/total

In [261]:
complete['Choose First Job'] = complete['GameResult'].apply(pick_first_job)
complete

,name,Duration (in seconds),GameResult,Choose First Job,Avg wait time for another job
2,brandon,1222,"[{""time"":0,""event"":""brandon started a game wit...",0.833333,19.257000
6,Boris,1308,"[{""time"":0,""event"":""Boris started a game with ...",0.730769,15.469500
13,Chelsea Choo,6182,"[{""time"":0,""event"":""Chelsea Choo started a gam...",0.761905,67.936800
17,Kristin,1350,"[{""time"":0,""event"":""Kristin Chen started a gam...",0.638298,6.240000
19,Chloe,NaN,"[{""time"":0,""event"":""Chloe started a game with ...",0.770833,6.383083

In [262]:
df['Choose First Job'] = df['GameResult'].apply(pick_first_job)
df

,name,Duration (in seconds),GameResult,Choose First Job
2,brandon,1222,"[{""time"":0,""event"":""brandon started a game wit...",0.833333
3,Kristin,1426,"[{""time"":0,""event"":""Kristin started a game wit...",0.500000
4,Lawrence,1470,"[{""time"":0,""event"":""Lawrence started a game wi...",0.000000
5,test,7012,"[{""time"":0,""event"":""test2 started a game with ...",0.000000
6,Boris,1308,"[{""time"":0,""event"":""Boris started a game with ...",0.730769
7,Edward Lee,1648,"[{""time"":0,""event"":""Edward started a game with...",0.750000
8,Gavin Zhang,1324,"[{""time"":0,""event"":""Gavin Zhang started a game...",1.000000
9,Austin,1298,"[{""time"":0,""event"":""Austin started a game with...",0.750000
10,Yuanrui Zhu,1790,"[{""time"":0,""event"":""Yuanrui Zhu started a game...",1.000000
11,yutong,1249,"[{""time"":0,""event"":""yutong started a game with...",0.666667
12,Marcus,59139,"[{""time"":0,""event"":""marcus started a game with...",0.750000
13,Chelsea Choo,6182,"[{""time"":0,""event"":""Chelsea Choo started a gam...",0.761905
14,ron,1286,"[{""time"":0,""event"":""ron started a game with 12...",1.000000
15,test2,2281,"[{""time"":0,""event"":""test2 started a game with ...",0.750000
16,test3,1277,"[{""time"":0,""event"":""test3 started a game with ...",0.000000
17,Kristin,1350,"[{""time"":0,""event"":""Kristin Chen started a gam...",0.638298
18,Marcus2,NaN,"[{""time"":0,""event"":""marcus started a game with...",0.672727
19,Chloe,NaN,"[{""time"":0,""event"":""Chloe started a game with ...",0.770833

In [281]:
# if didn't pick first job (regex doesn't capture all)
def notpick_first_job(row):
    wait_time = []
    pattern = r'{"time":.*?,"event":"Entered\shome\sscreen,\sdisplayed\sjobs:.*?,"event":"Rated\sthemselves:\s\d+"}'
    matches = re.findall(pattern, row)
    for match in matches:
        jobpick_pattern = r'{"time":(\d+\.\d+),"event":"i:\(\d+,\d+\)\sJob\s(.*?)\snow\savailable".*?,{"time":(\d+\.\d+),"event":"Task\s*(.*?)\s*was started'
        jobs = re.findall(jobpick_pattern, match)
        if len(jobs) > 0 and len(jobs[0]) > 3:
            if jobs[0][1] != jobs[0][3]:
                # waiting time
                wait_time.append(float(jobs[0][2]) - float(jobs[0][0]))
    print(wait_time)
    if len(wait_time) > 0:
        return np.mean(wait_time)

In [282]:
complete['Avg wait time for another job'] = complete['GameResult'].apply(notpick_first_job)
complete

[19.257]
[3.6900000000000013, 9.150000000000034, 30.22199999999998, 12.688999999999965, 6.018000000000029, 25.959999999999923, 28.899, 7.127999999999929]
[240.826, 11.947999999999979, 4.941000000000031, 1.441000000000031, 80.52800000000002]
[5.5169999999999995, 8.820000000000007, 9.129000000000019, 14.751000000000005, 4.269999999999982, 4.998999999999967, 11.481999999999971, 0.70799999999997, 2.8099999999999454, 1.1210000000000946, 1.7490000000000236, 5.910000000000082, 6.940000000000055, 11.617999999999938, 1.9790000000000418, 9.029999999999973, 5.246999999999844]
[8.362, 8.380000000000003, 6.270000000000039, 10.0, 11.850000000000023, 8.099000000000046, 1.6970000000000027, 5.879000000000019, 1.8399999999999181, 7.720000000000027, 5.759999999999991, 0.7400000000000091]

,name,Duration (in seconds),GameResult,Choose First Job,Avg wait time for another job
2,brandon,1222,"[{""time"":0,""event"":""brandon started a game wit...",0.833333,19.257000
6,Boris,1308,"[{""time"":0,""event"":""Boris started a game with ...",0.730769,15.469500
13,Chelsea Choo,6182,"[{""time"":0,""event"":""Chelsea Choo started a gam...",0.761905,67.936800
17,Kristin,1350,"[{""time"":0,""event"":""Kristin Chen started a gam...",0.638298,6.240000
19,Chloe,NaN,"[{""time"":0,""event"":""Chloe started a game with ...",0.770833,6.383083

In [283]:
df['Avg wait time for another job'] = df['GameResult'].apply(notpick_first_job)
df

[19.257]
[4.528999999999996]
[11.7, 10.539000000000001]
[11.154]
[3.6900000000000013, 9.150000000000034, 30.22199999999998, 12.688999999999965, 6.018000000000029, 25.959999999999923, 28.899, 7.127999999999929]
[10.612]
[]
[1.25]
[]
[2.1709999999999923]
[]
[240.826, 11.947999999999979, 4.941000000000031, 1.441000000000031, 80.52800000000002]
[]
[]
[22.893, 580.953]
[5.5169999999999995, 8.820000000000007, 9.129000000000019, 14.751000000000005, 4.269999999999982, 4.998999999999967, 11.481999999999971, 0.70799999999997, 2.8099999999999454, 1.1210000000000946, 1.7490000000000236, 5.910000000000082, 6.940000000000055, 11.617999999999938, 1.9790000000000418, 9.029999999999973, 5.246999999999844]
[5.529, 0.7989999999999995, 0.5999999999999943, 4.718999999999994, 2.200000000000017, 4.0090000000000146, 8.660000000000025, 0.5469999999999686, 5.808999999999969, 0.5210000000000719, 0.7479999999999336, 0.6709999999999354, 3.2089999999999463, 3.1700000000000728, 2.6200000000000045, 5.698999999999955, 5.0610000000000355, 3.77800000000002]
[8.362, 8.380000000000003, 6.270000000000039, 10.0, 11.850000000000023, 8.099000000000046, 1.6970000000000027, 5.879000000000019, 1.8399999999999181, 7.720000000000027, 5.759999999999991, 0.7400000000000091]

,name,Duration (in seconds),GameResult,Choose First Job,Avg wait time for another job
2,brandon,1222,"[{""time"":0,""event"":""brandon started a game wit...",0.833333,19.257000
3,Kristin,1426,"[{""time"":0,""event"":""Kristin started a game wit...",0.500000,4.529000
4,Lawrence,1470,"[{""time"":0,""event"":""Lawrence started a game wi...",0.000000,11.119500
5,test,7012,"[{""time"":0,""event"":""test2 started a game with ...",0.000000,11.154000
6,Boris,1308,"[{""time"":0,""event"":""Boris started a game with ...",0.730769,15.469500
7,Edward Lee,1648,"[{""time"":0,""event"":""Edward started a game with...",0.750000,10.612000
8,Gavin Zhang,1324,"[{""time"":0,""event"":""Gavin Zhang started a game...",1.000000,NaN
9,Austin,1298,"[{""time"":0,""event"":""Austin started a game with...",0.750000,1.250000
10,Yuanrui Zhu,1790,"[{""time"":0,""event"":""Yuanrui Zhu started a game...",1.000000,NaN
11,yutong,1249,"[{""time"":0,""event"":""yutong started a game with...",0.666667,2.171000
12,Marcus,59139,"[{""time"":0,""event"":""marcus started a game with...",0.750000,NaN
13,Chelsea Choo,6182,"[{""time"":0,""event"":""Chelsea Choo started a gam...",0.761905,67.936800
14,ron,1286,"[{""time"":0,""event"":""ron started a game with 12...",1.000000,NaN
15,test2,2281,"[{""time"":0,""event"":""test2 started a game with ...",0.750000,NaN
16,test3,1277,"[{""time"":0,""event"":""test3 started a game with ...",0.000000,301.923000
17,Kristin,1350,"[{""time"":0,""event"":""Kristin Chen started a gam...",0.638298,6.240000
18,Marcus2,NaN,"[{""time"":0,""event"":""marcus started a game with...",0.672727,3.241611
19,Chloe,NaN,"[{""time"":0,""event"":""Chloe started a game with ...",0.770833,6.383083

In [ ]:
pattern = r'{"time":(\d+\.\d+),"event":"i:\(\d+,\d+\)\sJob\s(.*?)\snow\savailable".*?,{"time":(\d+\.\d+),"event":"Task\s*(.*?)\s*was started'
matches = re.findall(pattern, row)